.input-box{
  font-family: Baskerville, Arial, Helvetica, sans-serif;
  width: 80%;
}

.input-box input{
  font-family: Baskerville, Arial, Helvetica, sans-serif;
  border-radius: 5px;
  height: 30px;
  background-color: aliceblue;
  border: none;
  font-size: 16px;
}