.btn{
  width: 120px;
  height: 50px;
  background-color: #2193b0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover{
  color: blue;
}