.coach-profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  
}

.coach-info{
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Lato;
}

.coach-avatar{
  width: 80px;
  height: 80px;
  background-color: #2193b0;
  border-radius: 5px;
}

.coach-right{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  .coach-name{
    font-weight: bold;
    font-size: 20px;
  }
  .coach-description{
    margin-top: 10px;
  }
}

.coach-main{
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  .coach-main-left{
    width: 15%;
    background-color: #2193b0;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;

    .coach-main-tab{
      margin-top: 10px;
      cursor: pointer;
    }

    .coach-main-tab:hover{
      color: blue;
    }
  }

  .coach-main-right{
    width: 85%;
    background-color: aliceblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn{
      width: 250px !important;
      margin-left: 0px !important;
    }
  }
}

.video-thumbnails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.coach-avatar-image{
  width: 80px;
  height: 80px;
  position: absolute;
}