.header{
  width: 100%;
  height: 56px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Baskerville;
}

.left-container{
  color: #ffffff;
  font-weight: bold;
  margin: 15px;
}

.right-container{
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;

  .user-container{
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    li{
      margin-right: 10px;
      font-weight: bold;
    }
  }

  .avatar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  .user-name{
    margin-left: 5px;
    font-weight: bold;
    padding-left: 5px;
  }
}

.nav-link{
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover{
  color: cornflowerblue;
}
