.video{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Lato;
  width: 800px;
}

.video-name{
  font-size: 25px;
  margin-bottom: 0px;
}

.video-description{
  margin-top: 10px;
}