.feedback-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.feedback-text-area{
  border-radius: 2px;
  resize: none;
  border: 0px;
  background-color: aliceblue;
  padding: 5px;
  font-size: 15px;
  height: 130px;
  font-family: Lato;
  margin-bottom: 15px;
}