.login{
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-popup{
  display: flex;
  flex-direction: row;
  width: 650px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #c9c9c9;
}

.login-left{
  background-color: #2193b0;
  width: 35%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}

.login-right{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 65%;
}

.login-title{
  font-family: Lato;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 20px;
}

img{
  cursor: pointer;
}

Input {
  margin-top: 20px;
}

.forget-password{
  margin-top: 30px;
  color: #c9c9c9;
  text-decoration: underline;
  margin-left: auto;
  margin-right: 0;
}